.mainpage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.example {
	color: #979797;
	font-weight: bolder;
}
.win-setting {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.slider {
	box-shadow: none;
	width: 70vw;
}
.widget-select-list {
	display: flex;
	list-style: none;
	flex-direction: column;
	justify-content: center;
	padding: 0px;
	align-items: baseline;
}
