.album-cover {
	background-color: pink;
	color: rgb(0, 0, 0);
	height: 150px;
	width: 150px;
}
.album-info {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	height: 150px;
	padding: 0.6rem;
	padding-top: 0rem;
	padding-bottom: 0rem;
	flex: 1;
}

.spotify-widget {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 91vh;
}
.media-controls {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-self: center;
}
.media {
	height: 30px;
	width: 30px;
	padding-left: 1rem;
	padding-right: 1rem;
}
.media--right {
	transform: scale(-1) translateY(-4px);
}
.media--pause {
	transform: translateY(2px);
}
.spotify-logo {
    position: fixed;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
}