.top-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}
.weather {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	justify-content: left;
}
.temp {
	padding-top: 0rem;
	margin: 0rem;
	margin-top: 0px;
	font-size: 4rem;
}

.city {
    align-self: baseline;
	padding-top: 0.2rem;
	padding-right: 4px;
	margin-top: 0px;
}
.condition-icon {
	height: 80px;
	width: 80px;
	margin-right: 1rem;
}
.bottom-container {
	margin-inline: 1rem;
	margin-bottom: 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
	margin-top: 30vh;

}
.weather-widget {
	display: flex;
	flex-direction: column;
}
.icon {
	width: 80px;
	height: 80px;
}
.city-container {
	display: flex;
	flex-direction: row;
}
.nav-icon {
	width: 20px;
	height: 20px;
	align-self: center;
	margin-bottom: 11px;
}