.top-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.weather {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	justify-content: left;
}
.temp {
	padding-top: 0rem;
	margin: 0rem;
	margin-top: 0px;
	font-size: 4rem;
}

.city {
	align-self: baseline;
	padding-top: 0.2rem;
	padding-right: 4px;
	margin-top: 0px;
}
.condition-icon {
	height: 80px;
	width: 80px;
	padding: 0.4rem;
}
.bottom-container {
	margin-inline: 1rem;
	margin-bottom: 0rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: auto;
}
.weather-widget {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 90vh;
}
.icon {
	width: 80px;
	height: 80px;
}
.city-container {
	display: flex;
	flex-direction: row;
}
.nav-icon {
	width: 20px;
	height: 20px;
	align-self: center;
	margin-bottom: 11px;
}
.two-word {
	margin-top: 1rem;
	padding-left: 1rem;
	color: #8a8a8a;
	font-weight: bold;
}
.additional-weather-element {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.humidity-icon,
.sunrise-icon,
.sunset-icon {
	width: 20px;
	height: 20px;
}
.wind-icon {
	width: 18px;
	height: 18px;
}