.mainpage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.example {
	color: #979797;
	font-weight: bolder;
}

.widget-select-list {
	display: flex;
	list-style: none;
	flex-direction: column;
	justify-content: center;
	padding: 0px;
	align-items: baseline;
}
